In [1]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv ('../tmp/sentence_based_data_1008K.csv')
df.rename(columns={'sentence' : 'text'}, inplace=True)
# df = pd.read_csv ('../tmp/cleaned_data_150k.csv')
df.head()

                                                text  target
0  An image forming apparatus of the present inve...       0
1  ', 'An image forming system of the present inv...       0
2  However, in the conventional aerial vehicle de...       2
3  Further, the airship has a problem that, since...       2
4  ', 'Further, it is also reported that the conv...       2

In [22]:
df0 = df[df['target'] == 0]
df0.head()

                                                 text  target
0   An image forming apparatus of the present inve...       0
1   ', 'An image forming system of the present inv...       0
21  First Aspect of Invention', 'The present inven...       0
22  In order to solve the aforementioned problem, ...       0
23  The hot runner nozzle can include a first resi...       0

In [23]:
df1 = df[df['target'] == 1]
df1.head()

                                                 text  target
10  The first aspect of a method for recovering a ...       1
11  The method includes: heating the target at a t...       1
12  Thus, the metal can be separated from the meta...       1
13  ', 'The second aspect of a method for recoveri...       1
14  The method includes: heating the target at a t...       1

In [24]:
df2 = df[df['target'] == 2]
df2.head()

                                                text  target
2  However, in the conventional aerial vehicle de...       2
3  Further, the airship has a problem that, since...       2
4  ', 'Further, it is also reported that the conv...       2
5  Therefore, the conventional drone has high ris...       2
6  Further, the conventional drone performs the v...       2

In [25]:
# df0.to_csv('../tmp/neutral_paragraph.csv', index=False)
# df1.to_csv('../tmp/positive_paragraph.csv', index=False)
# df2.to_csv('../tmp/negative_paragraph.csv', index=False)

df0.to_csv('../tmp/neutral_sentences.csv', index=False)
df1.to_csv('../tmp/positive_sentences.csv', index=False)
df2.to_csv('../tmp/negative_sentences.csv', index=False)